[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

kombu = "*"
msgpack-python = "*"
happybase = "*"
elasticsearch-dsl = "*"


[dev-packages]


[requires]

python_version = "3.6"
