[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"e2919c3" = {path = "./himalaya-models", editable = true}
kombu = "*"
msgpack-python = "*"
happybase = "*"
elasticsearch-dsl = "*"


[dev-packages]


[requires]

python_version = "3.6"
